.timer-container {
  margin: 2rem;
  padding: 2rem;
  background-color: none;
  border: 3px solid var(--main-red);
  border-radius: 8px;
}

.countdown-timer {
   width: 100%;
   font-size: 3rem;
   font-family: monospace;
   font-weight: bold;
   color: var(--main-red);;
   text-align: center;
}

@media screen and (max-width: 650px) {
   .timer-container{
      margin: 1rem;
      padding: 1rem;
   }
   .countdown-timer {
      font-size: 2rem;
   }
}