/* used in Home.js */
.container {
   min-height: 85vh;
   display: grid;
   grid-template-columns: 1fr 295px;
   width: 100%;
}
/* used in Home.js */
.data-container{
   margin-top: 2rem;
   display: block;
   justify-content: center;
   align-items: center;
}

/* used in Home.js */
.list-container{
   background: var(--main-black)
}

/* used in Home.js */
.full-container {
   min-height: 85vh;
   width: 100%;
}

/* used in NextRanceInfo.js */
.info-container{
   font-family: monospace;
   justify-content: center;
   margin: 2em;
   display: grid;
   gap: 0;
   grid-template-columns: repeat(1, 1fr);
   align-items: stretch;
   border: 1px solid var(--main-black);
}
.info-row-even, .info-row-odd{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   padding: 5px 10px;
}
.info-row-even{
   background: var(--main-white);
   color: var(--main-black)
}
.info-row-even.event-over{
   text-decoration: line-through;
   color: rgba(0, 0, 0, 0.5);
}

.info-row-odd{
   background: var(--main-black);
   color: var(--main-white);
}

.info-row-odd.event-over{
   text-decoration: line-through;
   color: rgba(0, 0, 0, 0.5);
   background: rgba(0, 0, 0, 0.2);
}

.info-row-left, .info-row-right{
   font-size: 1.5rem;
   margin: 5px 15px;
}
.info-row-left{
   flex: 1 1 0;
}
.info-row-right{
   flex: 0 0 auto;
   align-items: end;
}
/* used in MainCountdown.js*/
.timer-container {
  margin: 2rem;
  padding: 2rem;
  background-color: none;
  border: 3px solid var(--main-red);
  border-radius: 8px;
}
.countdown-timer {
   width: 100%;
   font-size: 3rem;
   font-family: monospace;
   font-weight: bold;
   color: var(--main-red);;
   text-align: center;
}

/* list view with cards */
.card-list-col-three{
   width: 90vw;
   max-width: 1170px;
   margin: 2rem auto;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(3, 1fr);
   height: fit-content;
   justify-content: center;
   align-items: stretch;
   font-family: monospace;
}
.card-list-col-two{
   width: 90vw;
   max-width: 1170px;
   margin: 2rem auto;
   display: grid;
   gap: 2rem;
   grid-template-columns: repeat(2, 1fr);
   height: fit-content;
   justify-content: center;
   align-items: stretch;
   font-family: monospace;
}
.card {
   height: 100%;
   min-height: 120px;
   border: 1px solid var(--main-black);
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.card-standing {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   position: relative;
   height: 50px;
   color: white;
   background: var(--main-black);
}
.card-info {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 60px;
   gap: 1rem;
   padding: 5px 10px;
   border-bottom: 2px solid var(--main-red);
}
.card-end-split {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   height: 100%;
   padding: 5px 10px 0;
   gap: 1rem;
}
.card-end-img{
   height: 100%;
   width: 100%;
   padding: 10px;
}
.card-end-img img{
   width: 100%;
}
.card-standing .standing-left {
   justify-self: start;
   align-self: start;
   font-size: 2.2rem;
   margin: 5px 15px;
}
.card-standing .standing-right {
   justify-self: end;
   align-self: start;
   font-size: 2.2rem;
   margin: 5px 15px;
}
.card-info .info-name {
   flex: 1 1 0;
   font-size: 1.5rem;
}
.card-info .info-img {
   flex: 0 0 auto;
   display: flex;
   align-items: center;
   height: 100%;
}
.card-info .info-img img {
   height: 100%;
   width: auto;
}
.card-end-split .end-number {
   font-size: 5rem;
   font-weight: bold;
   align-self: flex-end;
   line-height: 1;
}
.card-end-split .end-img {
   align-self: flex-end;
   width: auto;
   max-height: 100%;
   display: flex;
   align-items: flex-end;
}
.card-end-split .end-img img {
   max-height: 285px;
   width: auto;
}

/* check order from big screen to small */
@media screen and (max-width: 1155px) {
   .card-list-col-three{
      grid-template-columns: repeat(2, 1fr);
   }

   .card-standing .standing-left, .card-standing .standing-right {
      margin: auto 10px;
      font-size: 1.9rem;
   }
   .card-info .info-name {
      font-size: 1.3rem;
   }
   .card-end .end-number {
      font-size: 3rem;
   }
}

@media screen and (max-width: 750px) {
   .container {
      display: block;
   }
   .data-container{
      min-height: 215px;
   }
   .list-container{
      border-top: 1px solid var(--main-red);
      background: none;
   }
   
   .info-container{
      margin: 1rem;
   }
   .info-row-left, .info-row-right{
      font-size: 1.1rem;
      margin: 5px;
   }

   .timer-container{
      margin: 1rem;
      padding: 1rem;
   }
   .countdown-timer {
      font-size: 2rem;
   }

   .card-list-col-two, .card-list-col-three{
      grid-template-columns: repeat(1, 1fr);
   }
   .card-end .end-number {
      font-size: 3rem;
   }
}