.info-container{
   font-family: monospace;
   justify-content: center;
   margin: 2em;
   display: grid;
   gap: 0;
   grid-template-columns: repeat(1, 1fr);
   align-items: stretch;
   border: 1px solid var(--main-black);
}
.info-row-even, .info-row-odd{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   padding: 5px 10px;
}
.info-row-even{
   background: var(--main-white);
   color: var(--main-black)
}
.info-row-odd{
   background: var(--main-black);
   color: var(--main-white);
}
.info-row-left, .info-row-right{
   font-size: 1.5rem;
   margin: 5px 15px;
}

.info-row-left{
   flex: 1 1 0;
}
.info-row-right{
   flex: 0 0 auto;
   align-items: end;
}

@media screen and (max-width: 650px) {
   .info-container{
      margin: 1rem;
   }
   .info-row-left, .info-row-right{
      font-size: 1.1rem;
      margin: 5px;
   }
}