.card-list-col-three{
   width: 90vw;
   max-width: 1170px;
   margin: 2rem auto;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(3, 1fr);
   height: fit-content;
   justify-content: center;
   align-items: stretch;
   font-family: monospace;
}
.card-list-col-two{
   width: 90vw;
   max-width: 1170px;
   margin: 2rem auto;
   display: grid;
   gap: 2rem;
   grid-template-columns: repeat(2, 1fr);
   height: fit-content;
   justify-content: center;
   align-items: stretch;
   font-family: monospace;
}
.card {
   height: 100%;
   min-height: 120px;
   border: 1px solid var(--main-black);
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.card-standing {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   position: relative;
   height: 50px;
   color: white;
   background: var(--main-black);
}
.card-info {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 60px;
   gap: 1rem;
   padding: 5px 10px;
   border-bottom: 2px solid var(--main-red);
}
.card-end-split {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   height: 100%;
   padding: 5px 10px 0;
   gap: 1rem;
}
.card-end-img{
   height: 100%;
   width: 100%;
   padding: 10px;
}
.card-end-img img{
   width: 100%;
}

.card-standing .standing-left {
   justify-self: start;
   align-self: start;
   font-size: 2.2rem;
   margin: 5px 15px;
}

.card-standing .standing-right {
   justify-self: end;
   align-self: start;
   font-size: 2.2rem;
   margin: 5px 15px;
}

.card-info .info-name {
   flex: 1 1 0;
   font-size: 1.5rem;
}

.card-info .info-img {
   flex: 0 0 auto;
   display: flex;
   align-items: center;
   height: 100%;
}

.card-info .info-img img {
   height: 100%;
   width: auto;
}

.card-end-split .end-number {
   font-size: 5rem;
   font-weight: bold;
   align-self: flex-end;
   line-height: 1;
}
.card-end-split .end-img {
   align-self: flex-end;
   width: auto;
   max-height: 100%;
   display: flex;
   align-items: flex-end;
}
.card-end-split .end-img img {
   max-height: 285px;
   width: auto;
}

@media screen and (max-width: 950px) {
   .card-list-col-three{
      grid-template-columns: repeat(2, 1fr);
   }

   .card-standing .standing-left, .card-standing .standing-right {
      margin: auto 10px;
      font-size: 1.5rem;
   }
   .card-info .info-name {
      font-size: 1.1rem;
   }
   .card-end .end-number {
      font-size: 3rem;
   }
}

@media screen and (max-width: 550px) {
   .card-list-col-two, .card-list-col-three{
      grid-template-columns: repeat(1, 1fr);
   }
   .card-end .end-number {
      font-size: 3rem;
   }
}