table{
   height: inherit;
   width: 95%;
   margin: 1rem 2rem 1rem 0;
   border-collapse: collapse;
}

th,td {
   padding: 0 5px;
}
td:nth-child(1){
   background: var(--main-black);
   color: var(--main-white);
   font-size: 1.7rem;
   text-align: center;
}
td:nth-child(2){
   width: 100%;
   font-size: 1.5rem;
   font-weight: 500;
   text-align: left;
   padding-left: 10px;
}
td:nth-child(3){
   text-align: right;
   background: var(--main-black);
   color: var(--main-white);
   font-size: 1.7rem;
}

td img{
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
}

tbody tr{
   border-bottom: 3px solid var(--main-white);
}

.mclaren{
   background: var(--color-mclaren);
   color: var(--main-white);
}
.red_bull{
   background: var(--color-red_bull);
   color: var(--main-white);
}
.rb{
   background: var(--color-rb);
   color: var(--main-white);
}
.ferrari{
   background: var(--color-ferrari);
   color: var(--main-white);
}
.mercedes{
   background: var(--color-mercedes);
   color: var(--main-black);
}
.williams{
   background: var(--color-williams);
   color: var(--main-white);
}
.sauber{
   background: var(--color-sauber);
   color: var(--main-white);
}
.haas{
   background: var(--color-haas);
   color: var(--main-black);
}
.aston_martin{
   background: var(--color-aston_martin);
   color: var(--main-white);
}
.alpine{
   background: var(--color-alpine);
   color: var(--main-white);
}

@media screen and (max-width: 650px) {
   table{
      width: 100%;
      margin: 1rem0;
   }
   th,td {
      padding: 5px 15px;
   }
}